<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fms.service.filemanage.FileTypeService">
    <sql id="all">
        id,
        name,
        type,
        create_user_id as createUserId,
        created,
        updated,
        file_suffix as fileSuffix,
        file_parser_ids as fileParserIds
    </sql>
    <sql id="allNoAs">
        id,
        name,
        type,
        create_user_id,
        created,
        updated,
        file_suffix,
        file_parser_ids
    </sql>
    <!--根据id查询文件分类-->
    <select id="get" parameterType="long" resultType="com.fms.domain.filemanage.FileType">
        SELECT <include refid="all" />
        FROM file_type
        WHERE id = #{id}
    </select>
    <!--根据id查询文件分类-->
    <select id="getByName" parameterType="String" resultType="com.fms.domain.filemanage.FileType">
        SELECT <include refid="all" />
        FROM file_type
        WHERE name = #{name}
    </select>

    <!--根据名称查询分类名称是否已经存在，如果是修改，需要将本身这条数据排除-->
    <select id="getCountByName" parameterType="com.fms.domain.filemanage.FileType" resultType="int">
        SELECT COUNT(id)
        FROM file_type
        WHERE name = #{name}
        <if test="id != null">
            and id != #{id}
        </if>
    </select>
    <select id="query" parameterType="map" resultType="com.fms.domain.filemanage.FileType">
        SELECT <include refid="all" />
        FROM file_type
    </select>
    <select id="queryBySuffix" parameterType="map" resultType="com.fms.domain.filemanage.FileType">
        SELECT <include refid="all" />
        FROM file_type
        WHERE file_suffix like "%"#{fileSuffix}"%"
    </select>
    <select id="getListByFileParserId" parameterType="map" resultType="com.fms.domain.filemanage.FileType">
        SELECT <include refid="all" />
        FROM file_type
        WHERE file_parser_ids like "%"#{fileParserIds}"%"
    </select>


    <select id="queryCount" parameterType="map" resultType="int">
        SELECT COUNT(1)
        FROM file_type
    </select>

    <!--添加文件分类-->
    <insert id="add" parameterType="com.fms.domain.filemanage.File">
        INSERT INTO file_type
        (<include refid="allNoAs" />)
        VALUES (
        #{id},
        #{name},
        #{type},
        #{createUserId},
        #{created},
        #{updated},
        #{fileSuffix},
        #{fileParserIds}
        )
    </insert>

    <!--根据id更新文件分类-->
    <update id="update" parameterType="com.fms.domain.filemanage.FileType">
        UPDATE file_type
        SET
        name = #{name},
        updated = #{updated},
         type = #{type},
        file_suffix = #{fileSuffix},
        file_parser_ids = #{fileParserIds}
        WHERE id = #{id}
    </update>

    <!--根据id删除文件分类-->
    <delete id="delete" parameterType="map">
        DELETE FROM file_type
        WHERE id = #{id}
    </delete>
</mapper>