<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fms.service.filemanage.FileParserStatusService">
    <resultMap id="columnInfo" type="map">
        <result column="COLUMN_NAME" property="column_name"/>
        <result column="COLUMN_KEY" property="column_key"/>
        <result column="DATA_TYPE" property="data_type"/>
        <result column="CHARACTER_MAXIMUM_LENGTH" property="max_length"/>
        <result column="COLUMN_DESC" property="column_desc"/>
    </resultMap>


    <select id="getAllFileAmount" resultType="integer">
    SELECT COUNT(*) from fms_file
    </select>

    <select id="getParsedFileAmount" resultType="integer">
    SELECT COUNT(*) from fms_file WHERE is_parser= #{isParser}
    </select>


    <select id="getUnresolvedFileAmount" resultType="integer">
    SELECT COUNT(*) from fms_file WHERE is_parser= #{isParser}
    </select>



</mapper>