<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fms.service.tuopu.ControlService">

    <sql id="all">
        id,
        name,
        type,
        type1,
        image
    </sql>


    <insert id="add" parameterType="com.fms.domain.tuopu.Control" >
        INSERT INTO t_control (id,name,type,type1,image)
        VALUES (
        #{id},
        #{name},
        #{type},
        #{type1},
        #{image}
        )
    </insert>
    <update id="update" parameterType="com.fms.domain.tuopu.Control">
        UPDATE t_control
        SET
          name=#{name},type=#{type},type1=#{type1},image = #{image}
        WHERE id=#{id}
    </update>



    <select id="getList" parameterType="map" resultType="com.fms.domain.tuopu.Control">
        SELECT <include refid="all" />
        FROM t_control
    </select>

    <select id="getControl" parameterType="String" resultType="com.fms.domain.tuopu.Control">
        SELECT <include refid="all" />
        FROM t_control
    </select>

    <select id="query" parameterType="String" resultType="integer">
        SELECT count(*)
        FROM t_control
        where id = #{id}
    </select>
    <delete id="delete" parameterType="String">
        DELETE FROM t_control
        WHERE id = #{id}
    </delete>


    <select id="queryPropertyById" parameterType="String" resultType="com.fms.domain.tuopu.ControlProperty">
        SELECT *
        FROM t_control_property
        where controlId = #{controlId}
    </select>


</mapper>