<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fms.service.tuopu.ControlPropertyService">

    <sql id="allColumns">
        id,
        controlId,
	    property,
	    value
    </sql>

    <insert id="addControlProperty" parameterType="com.fms.domain.tuopu.ControlProperty" >
        INSERT INTO t_property (controlId,property,value)
        VALUES (
        #{controlId},
        #{property},
        #{value}
        )
    </insert>

    <select id="getPropertyList" parameterType="map" resultType="com.fms.domain.tuopu.ControlProperty">
        SELECT <include refid="allColumns" />
        FROM t_property
    </select>

    <select id="getPropertyById" parameterType="map" resultType="com.fms.domain.tuopu.ControlProperty">
        SELECT <include refid="allColumns" />
        FROM t_property
        WHERE id = #{id}
  </select>

</mapper>