<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fms.service.tuopu.ControlPropertyService">


    <insert id="addControlProperty" parameterType="com.fms.domain.tuopu.ControlProperty" >
        INSERT INTO t_control_property (controlId,propertyChinese,property,customProperty,dataType,dicName,dicList,isDic,propertyFlag)
        VALUES (
        #{controlId},
        #{propertyChinese},
        #{property},
        #{customProperty},
        #{dataType},
        #{dicName},
        #{dicList},
        #{isDic},
        #{propertyFlag}
        )
    </insert>


    <select id="getControlPropertyList" parameterType="map" resultType="com.fms.domain.tuopu.ControlProperty">
        SELECT * FROM t_control_property
  </select>


    <delete id="delControlPropertyByControlId" parameterType="String">
        delete from t_control_property where controlId = #{controlId}
    </delete>

</mapper>