<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fms.service.tuopu.PictureService">

    <sql id="all">
        id,
        name,
        json,
        userId,
        time
    </sql>

    <select id="get" parameterType="long" resultType="com.fms.domain.tuopu.Picture">
        SELECT <include refid="all" />
        FROM t_picture
        WHERE id = #{id}
    </select>

    <select id="getImageByName" parameterType="String" resultType="String">
        select image from t_control where name=#{masterName}
    </select>


    <select id="getList" parameterType="map" resultType="com.fms.domain.tuopu.Picture">
        SELECT <include refid="all" />
        FROM t_picture
    </select>

    <select id="query" parameterType="string" resultType="int">
        select count(*) from t_picture where name =#{name};
    </select>


    <delete id="delete" parameterType="Long">
        DELETE FROM t_picture
        WHERE id = #{id}
    </delete>

   <update id="deleteNameById" parameterType="Long">
        UPDATE t_picture
        SET
          name=null
        WHERE id = #{id}
    </update>


    <insert id="add" parameterType="com.fms.domain.tuopu.Picture" >
        insert into t_picture(
        <if test="name != null">name,</if>
        <if test="json != null">json,</if>
        <if test="userId != null">userId,</if>
        time
        )values(
        <if test="name != null">#{name},</if>
        <if test="json != null">#{json},</if>
        <if test="userId != null">#{userId},</if>
        sysdate()
        )
    </insert>


    <update id="update" parameterType="com.fms.domain.tuopu.Picture">
        update t_picture
        <set>
        <if test="json != null">json = #{json},</if>
        <if test="userId != null">userId = #{userId},</if>
        <if test="name != null">name = #{name}</if>
        </set>
        WHERE id=#{id}
    </update>

</mapper>