<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fms.service.tuopu.PictureService">

    <sql id="all">
        id,
        name,
        json,
        userId,
        time
    </sql>

    <select id="get" parameterType="long" resultType="com.fms.domain.tuopu.Picture">
        SELECT <include refid="all" />
        FROM t_picture
        WHERE id = #{id}
    </select>

    <select id="getList" parameterType="map" resultType="com.fms.domain.tuopu.Picture">
        SELECT <include refid="all" />
        FROM t_picture
    </select>

    <select id="query" parameterType="string" resultType="int">
        select count(*) from t_picture where name =#{name};
    </select>


    <delete id="delete" parameterType="Long">
        DELETE FROM t_picture
        WHERE id = #{id}
    </delete>


    <insert id="add" parameterType="com.fms.domain.tuopu.Picture" >
        INSERT INTO t_picture (name,json,userId,time)
        VALUES (
        #{name},
        #{json},
        #{userId},
        #{time}
        )
    </insert>
    
    <update id="update" parameterType="com.fms.domain.tuopu.Picture">
        UPDATE t_picture
        SET
          name=#{name},json=#{json},userId = #{userId},time = #{time}
        WHERE id=#{id}
    </update>

</mapper>