<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fms.service.property.PropertyService">


    <update id="updateConfProperty" parameterType="com.fms.domain.property.Property">
        UPDATE conf_property
        SET
          bootStrapServers=#{bootStrapServers},groupIdConfig=#{groupIdConfig},
          hbaseZookeeperQuorum = #{hbaseZookeeperQuorum},defaultTopic = #{defaultTopic},
          propertySchema = #{propertySchema}
        limit 1
    </update>

    <insert id="addConfProperty" parameterType="com.fms.domain.property.Property">
         INSERT INTO
            conf_property
                   (bootStrapServers,
                      groupIdConfig,
                      hbaseZookeeperQuorum,
                      defaultTopic,
                      propertySchema)
          VALUES   (#{bootStrapServers},
                      #{groupIdConfig},
                      #{hbaseZookeeperQuorum},
                      #{defaultTopic},
                      #{propertySchema})
    </insert>

    <select id="getAllConfProperty" resultType="com.fms.domain.property.Property">
        SELECT * FROM conf_property limit 1
  </select>

</mapper>