<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fms.service.columnSet.ManuallyService">

    <resultMap id="resultManualMap" type="com.fms.domain.columnSet.Manual">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>

    </resultMap>

    <select id="query" parameterType="com.fms.domain.columnSet.Manual" resultType="com.fms.domain.columnSet.Manual">
        select * from INFORMATION_SCHEMA.tables where table_name like '%nz_dic%';
    </select>

   <select id="getAllNzList" parameterType="com.fms.domain.columnSet.Manual" resultType="java.lang.String">
        select table_name as name from INFORMATION_SCHEMA.tables where table_name like '%nz%' and table_name not like '%nz_dic%';
    </select>
</mapper>



