<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fms.service.schema.ColumnInfoService" >

  <insert id="addColumnInfo" parameterType="com.fms.domain.schema.ColumnInfo">
    insert into column_info(columnEnglish,isDic,isMasterKey,dataType,tableId,schemaId,dicTableName,columnChinese)
    values(#{columnEnglish},#{isDic},#{isMasterKey},#{dataType},#{tableId},#{schemaId},#{dicTableName},#{columnChinese})
  </insert>

  <update id="updateColumnInfo" parameterType="com.fms.domain.schema.ColumnInfo">
    update column_info set columnEnglish = #{columnEnglish},isDic = #{isDic},
    isMasterKey = #{isMasterKey},dataType = #{dataType},tableId = #{tableId},schemaId = #{schemaId},
    dicTableName = #{dicTableName},columnChinese = #{columnChinese} where columnEnglish = #{columnEnglish} and tableId=#{tableId}
  </update>

  <select id="getColumnsInfoByTableIdAndColumnEnglish" parameterType="map" >
    select * from column_info where tableId = #{tid} and columnEnglish = #{columnEnglish}
  </select>


  <delete id="deleteColumnInfo" parameterType="java.lang.Long">
    delete from column_info where tableId = #{tableId}
  </delete>

  <delete id="deleteTableInfo" parameterType="java.lang.Long">
    delete from table_info where id = #{id}
  </delete>

  <insert id="addTableInfo" parameterType="com.fms.domain.schema.TableInfo">
    insert into table_info(id,tableEnglish,tableChinese,schemaId) values(#{id},#{tableEnglish},#{tableChinese},1)
  </insert>

  <update id="updateTableInfo" parameterType="com.fms.domain.schema.TableInfo">
    update table_info set tableEnglish = #{tableEnglish},tableChinese = #{tableChinese},schemaId = 1 where id = #{id}
  </update>

  <select id="getColumnsInfo" parameterType="java.lang.Long" resultType="com.fms.domain.schema.ColumnInfo">
    select * from column_info where tableId = #{tid}
  </select>

  <select id="getColumnsInfoDataType" parameterType="String" resultType="java.lang.String">
    select data_type from information_schema.columns where table_name=#{tableEnglish}
  </select>

  <select id="getAllTables" resultType="com.fms.domain.schema.TableInfo">
    select * from table_info
  </select>

  <select id="getDicByTableId" parameterType="java.lang.Long" resultType="com.fms.domain.schema.ColumnInfo">
    select * from column_info where tableId = #{tid}
  </select>

  <select id="queryTableInfoById" parameterType="java.lang.Long" resultType="com.fms.domain.schema.TableInfo">
    select * from table_info where id = #{tableId}
  </select>

  <select id="queryColumnInfoBytableId" parameterType="java.lang.Long" resultType="java.lang.Integer">
    select count(*) from column_info where tableId = #{tableId}
  </select>

  <select id="getDicTable" resultType="java.lang.String">
        select table_name as name from INFORMATION_SCHEMA.tables where table_schema = 'fms'and table_name like '%nz_dic%';
    </select>

  <select id="getNzDicTable" resultType="java.lang.String">
        select table_name as name from INFORMATION_SCHEMA.tables where table_schema = 'fms'and table_name like '%nz_dic%';
    </select>

  <select id="countTableInfoByEnglish" parameterType="String" resultType="java.lang.Integer">
    select count(*) from table_info where tableEnglish = #{tableEnglish}
  </select>


  <select id="getTableEnglish" parameterType="java.lang.Long" resultType="com.fms.domain.schema.TableInfo">
        select tableEnglish
        from table_info
        where id=#{id}
    </select>

</mapper>