<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fms.service.masterSlave.MasterSlaveService">

    <sql id="condition">
        <if test="id != null and id != ''">
            AND id = #{id}
        </if>
        <if test="name != null and name != ''">
            AND name = #{name}
        </if>
        <if test="type != null and type != ''">
            AND type = #{type}
        </if>
        <if test="masterTableId != null and masterTableId != '' and masterTableId != 0">
            AND masterTableId = #{masterTableId}
        </if>
        <if test="slaveTableId != null and slaveTableId != ''and slaveTableId != 0">
            AND masterTableId = #{masterTableId}
        </if>
        <if test="image != null and image != ''and image != 0">
            AND image = #{image}
        </if>

    </sql>


    <select id="query" parameterType="com.fms.domain.filemanage.MasterSlaveDo" resultType="com.fms.domain.filemanage.MasterSlaveDo">
       select * from t_masterslave where 1=1
        <include refid="condition" />
    </select>

    <select id="queryCount" parameterType="com.fms.domain.filemanage.MasterSlaveDo" resultType="int">
        SELECT COUNT(1)
        FROM t_masterslave
        WHERE 1 = 1
        <include refid="condition" />
    </select>

    <insert id="add" parameterType="com.fms.domain.filemanage.MasterSlaveDo">
        INSERT INTO t_masterslave (name,type,masterTableId,slaveTableId,image)
        VALUES (
        #{name},
        #{type},
        #{masterTableId},
        #{slaveTableId},
        #{image}
        )
    </insert>

    <select id="queryName" parameterType="string" resultType="int">
        select count(*) from t_masterslave where name =#{name};
    </select>

    <update id="update" parameterType="com.fms.domain.filemanage.MasterSlaveDo">
        update t_masterslave set slaveTableId = #{slaveTableId},
        `name` = #{name},masterTableId = #{masterTableId},`type` = #{type},`image` = #{image}
        where id = #{id}
    </update>

    <delete id="delete" parameterType="String">
        DELETE FROM t_masterslave
        WHERE id = #{id}
    </delete>

    <select id="queryType"  resultType="String">
        select distinct `type` from t_masterslave
    </select>

    <select id="findMasterSlaveById" resultType="Map" parameterType="Integer">
        select id,masterTableId,slaveTableId,`type`, `name`,image from t_masterslave where id = #{id}
    </select>
</mapper>



